:root{
	padding: 5%;
}

body{
	background-color: #fbf1c7;
	color: #3c3836;
}

.ex_img{
	height: auto;
	width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}

h1{
	color: #076678;
}

h2{
	color: #076678;
}

strong{
	color: #076678;
}

.greek_head{
	color: #076678;
	font-family: Copperplate, Papyrus, fantasy;
	font-size: 22px;
}

.dictionary{
	font-family: Copperplate, Papyrus, fantasy;
	text-align: left; 
	margin-left: 25%;
	margin-right: 25%;
}

a:link{
	color: #076678;
	}

a:visited{
	color: #076678;
}

a:hover{
	color: #79740e;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #282828;
        color: #ebdbb2;
    }
    a:link{
		color: #fabd2f;
	}
	a:visited{
		color: #fabd2f;
	}
	a:hover{
		color: #b8bb26;
		text-decoration: underline;	
	}
	h1{
	color: #fabd2f;
	}
	h2{
		color: #fabd2f;	
	}
	strong{
		color: #fabd2f;
	}
	head{
	color: #fabd2f;
	}
	.greek_head{
	color: #fabd2f;
	font-family: Copperplate, Papyrus, fantasy;
	font-size: 22px;
	}
}

table{
	border-color: rgb(0, 0, 0);
border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}

td, th {
  border: 1px solid #4e4e4e;
  text-align: center;
  padding: 8px;

  @media (prefers-color-scheme: dark){
	border: 1px solid #b9b9b9
  }
}

.mathbox{
	border: 1px solid black;
	padding: 5%;
	text-align: center;
	
	@media (prefers-color-scheme: dark){
		border:1px solid white;
	}
}

.codeblock{
	border: 1px solid black;
	padding: 15px;
	
	@media (prefers-color-scheme: dark){
		border:1px solid white;
	}
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.indexpage{
	justify-content: center; 
	align-items: center; 
	display: flex;
	margin-left: 10%;
	margin-right: 10%;
	}

.logo{
}

.pagelist{
}

@media screen and (max-width : 906px){
 .logo{
 visibility:hidden;
 }
 .pagelist{
 width: 100%;
 height: 100%;
 text-align: center;
 margin-left: -45%;
 }
 .dictionary{
 	text-align: center; 
	margin-left: -10%;
	margin-right: 0%
 }
}