body{
	background: #0C142D;
	color: white;
	padding: 10%;
}

h1{
	color: yellow;
}

table{
	border-color: white;
border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

a:link{
	color: yellow;
}

a:visited{
	color: lightgreen;
}

.mathbox{
	border: 1px solid white;
	padding: 10%;
	text-align: center;
}