:root{
	padding: 5%;
}

body{
	background-color: #282828;
	color: #ebdbb2;
}

.ex_img{
	height: auto;
	width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}

h1{
	color: #fabd2f;
}

h2{
	color: #fabd2f;	
}

h3{
	text-decoration:underline;
}

strong{
	color: #fabd2f;
}

.greek_head{
	color: #fabd2f;
	font-family: Copperplate, Papyrus, fantasy;
	font-size: 22px;
}

.dictionary{
	font-family: Copperplate, Papyrus, fantasy;
	text-align: left; 
	margin-left: 25%;
	margin-right: 25%;
}

a:link{
	color: #fabd2f;
	}

a:visited{
	color: #fabd2f;
}

a:hover{
	color: #268cbb;
	text-decoration: underline;
}

head{
	color: #fabd2f;
}

table{
	border-color: rgb(0, 0, 0);
	border-collapse: collapse;
  	width: 100%;
  	font-size: 18px;
}

.table_index{
	table{
	border-color: rgb(0, 0, 0);
	border-collapse: collapse;
  	font-size: 18px;
}
}

td, th {
  border: 1px solid #b9b9b9;
  text-align: center;
  padding: 8px;
}

.mathbox{
	border:1px solid white;
	padding: 5%;
	text-align: center;
}

.codeblock{
	border:1px solid white;
	padding: 15px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.indexpage{
	justify-content: center; 
	align-items: center; 
	display: flex;
	margin-left: 10%;
	margin-right: 10%;
	}

.logo{
}

.pagelist{
}

@media screen and (max-width : 906px){
 .logo{
 visibility:hidden;
 }
 .pagelist{
 width: 100%;
 height: 100%;
 text-align: center;
 margin-left: -45%;
 }
 .dictionary{
 	text-align: center; 
	margin-left: -10%;
	margin-right: 0%
 }
}