:root{
    padding: 2%;
}

body{
    background-image: url(pattern.jpg);
    background-repeat: repeat;
    padding: inherit;
}

.ex_img{
    height: auto;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}

h1{
    color: #3350F9;
}

h2{
    color: #3350F9; 
}

h3{ color: #3350F9;
    text-decoration:underline;
}

h4{
    color: #3350F9;
    text-decoration:underline;
    padding: 5px;
    font-size: 16px;
}

h5{
    color: #3350F9;
    text-decoration:underline;
    padding: 10px;
    font-size: 16px;
}

h6{
    color: #3350F9;
    text-decoration:underline;
    padding: 15px;
    font-size: 16px;
}

hr{
    border: 1px solid darkgray;
}

strong{
    color: #3350F9;
}

.greek_head{
    color: #3350F9;
    font-family: Papyrus;
    font-size: 22px;
}

.dictionary{
    font-family: Papyrus;
    text-align: left; 
    margin-left: 25%;
    margin-right: 25%;
}

a:link{
    color: #3350F9;
    }

a:visited{
    color: #4700A9;
}

a:hover{
    color: #49879C;
    text-decoration-style: wavy;
    outline: black;
}

head{
    color: #3350F9;
}

table{
    border-color: rgb(0, 0, 0);
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
}

.table_index{
    table{
    border-color: rgb(0, 0, 0);
    border-collapse: collapse;
    font-size: 18px;
}
}

td, th {
  border: 1px solid #b9b9b9;
  text-align: center;
  padding: 8px;
}

.mathbox{
    border:3px solid darkgrey;
    border-radius: 20px;
    padding: 5%;
    text-align: center;
    background: white;
}

.homebox{
    border: 3px;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin: auto;
    background: white;
    border-style: inset;
}

.codeblock{
    border:1px solid white;
    padding: 15px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.indexpage{
    justify-content: center; 
    align-items: center; 
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    }

.logo{
}

.pagelist{
}

@media screen and (max-width : 906px){
 .logo{
 visibility:hidden;
 }
 .pagelist{
 width: 100%;
 height: 100%;
 text-align: center;
 margin-left: -45%;
 }
 .dictionary{
    text-align: center; 
    margin-left: -10%;
    margin-right: 0%
 }
}
